body {
  margin: 0;
  font-family: 'Inter';
}

/*  */

.navbar{
  font-family: 'Inter', sans-serif;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 40px;

}
a{
  text-decoration: none;
  color: #000;
}
.navbar>h1{
  font-style: normal;
font-weight: 900;
font-size: 25.3531px;
line-height: 40px;

}
.navbar>h1>a{
  text-decoration: none;
  color: black;
}
.navbar>h1>a:hover{
  text-decoration: underline;
 
}
.navbar>ul{
  list-style: none;
  display: flex;
  column-gap: 20px;
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 23px;
color: #4D4D4D;
}
.navbar>ul>li>a{
  color: #4D4D4D;
  text-decoration: none;
}
.navbar>ul>li>a:hover{
  text-decoration: underline;
  font-weight: bold;
  color: #161616
  
}


.home{
  margin: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url(assets/images/vanImg.png);
height: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
display: flex;
flex-direction: column;
align-items: center;
padding: 66px;
font-style: normal;

}
.home>h2{
font-weight: 800;
font-size: 36px;
line-height: 42px;
color: white;
width: 494.33px;
height: 84px
}
.home>p{
font-weight: 200;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
width: 494.33px;
height: 48px;
}
.home>a{
  text-decoration: none;
  color: #FFFFFF;
  width: 200.33px;
font-weight: 700;
font-size: 15.9462px;
line-height: 32px;
background-color: #FF8C38;
border-radius: 5px;
padding: 10px 143px;
outline: none;
border: none;
cursor: pointer;
margin-top: 51px;
text-align: center;
}
.home>a{
  transition: transform .1s ease-in-out;
}
.home>a:hover{
  transform: translate(2px, 2px);
}


/* about */
.about{
font-style: normal;
color: #161616;
}
.boy{
width: 100%;

}
.about-content{
  
padding: 48px 27px;

}
.about-header{
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

}
.about-text{
  font-weight: 500;
font-size: 16px;
line-height: 22px;
}

.destination{
  background: #FFCC8D;
  border-radius: 5px;
  font-weight: 700;
  padding: 32px 37px;
}
.destination>p{
font-size: 24px;
line-height: 30px;
}
.destination-button{
  text-decoration: none;
font-size: 15.9462px;
line-height: 24px;
color: #FFFFFF;
background-color: #000;
border: none;
border-radius: 5px;
padding: 12px 22px;
cursor: pointer;
}

.footer{
  background-color: #252525;
padding-block: 25px;
}
.copyright{
font-style: normal;
font-weight: 500;
font-size: 12px;
text-align: center;
color: #AAAAAA;
}

/* vans */
.vans{
font-style: normal;
display: flex;
flex-direction: column;
}
.vans>h1{
  font-weight: 700;
font-size: 32px;
line-height: 34px;
color: #161616;
}
.vans-types{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.vans-types>button{
  padding: 6px 26px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4D4D4D;
  background-color: #FFEAD0;
  cursor: pointer;
}


.simple:hover, .simple.selected{
background-color: #E17654;
color: white;
}
.luxury:hover, .luxury.selected{
  background-color: #252525;
  color: white;
}
.rugged:hover, .rugged.selected{
  background-color: #115E59;
  color: white;
}
.vans-types>.clear-filters{
  background-color: transparent;
  text-decoration: underline;
}
.vans>h1{
  padding-left: 40px;
}
.all-vans{
  display: grid;
 grid-template-columns: 1fr 1fr;
gap: 3rem 5rem;
  margin: auto;
padding: 62px 27px;
}
.van>img{
  width:14.327rem;
  height: 14.327rem;
}
.name-price{
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-weight: 600;
  font-size: 20px;
  color: #161616;
 
}

.van-price>span{

  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: block;
padding-left: 5px;

}

.van-type{
  font-weight: 600;
font-size: 16px;
color: #FFEAD0;
border-radius: 5px;
padding: 5px 10px;

}
.van-type.simple{
  background-color:#E17654; ;
}
.van-type.rugged{
  background-color: #115E59;
}
.van-type.luxury{
  background-color: #000;
}
a{
  text-decoration: none;
}
.vanDetails{
  padding: 80px 40px;
}
.vanDetails>img{
  width:31.0625rem;
height: 31.0625rem;
display: block;
margin-bottom: 52px;
}
.detail-name{
  font-weight: 700;
font-size: 32px;
line-height: 34px;
color: #161616;
}
.vanDetails .van-price{
  font-weight: 600;
  font-size: 20px;
  color: #161616;
}
.vanDetails .van-price>span{
  display: inline;
  margin-left: -0.2rem;
}
.description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  margin-bottom: 25px;
}
.rent-btn{
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
background: #FF8C38;
border-radius: 4.98319px;
padding: 10px 144px;
}
.vanDetails-backToAllVans{
  padding-left:40px ;
margin: 0;
padding-block: 0;
}

/* host */
.hostLayout{
  padding: 30px 40px;
  
}
.hostLayout>a{
  text-decoration: none;
  color: black;
margin-right: 40px;

}
.hostLayout>a:hover{
  text-decoration: underline;

  font-weight: bold;
}

.dashboard-host{
  height: 100dvh;

   background-color: #FFF7ED;
   margin-top: 45px;
}
.dashboard-welcome-bg{
  background: #FFEAD0;
  padding: 30px 40px;
}
.dashboard-welcome{
  background: #FFEAD0;
  padding: 30px 40px;
}
.dashboard-welcome>h2{
  font-weight: 700;
font-size: 36px;
color: #161616;
margin: 0;
}
.detail{
  font-weight: 500;
font-size: 16px;
color: #4D4D4D;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
}
.dashboard-welcome>p{
  font-weight: 800;
font-size: 48px;
color: #161616;
margin: 0;
}
.review-score{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: #FFDDB2;
 
}
.score{
  display: flex;
  gap:10px;
  align-items: center;
}
.heading{
  font-weight: 700;
font-size: 24px;
line-height: 22px;
color: #161616;
}
.score p:nth-child(2){
  display: flex;
  gap:5px;
  font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #161616;
}
.score p:nth-child(2)>span>span{
color: #4D4D4D;
font-weight: 400;
}
.dashboard-host .listed-vans{
  padding: 30px 40px; 
}
.dashboard-host .listed-vans>div{
  display: flex;
 justify-content: space-between;
}
.edit-vans{
  display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
 background-color: white;
 border-radius: 5px;
}
.edit-vans>div{
  display: flex;
  gap:15px
}
.edit-vans>div>img{
  width: 65.88px;
height: 65.88px;
}
.edit-vans>div>p{
 margin: 0;
  font-weight: 600;
font-size: 20px;
color: #161616;
}
.edit-vans>div>p>span{
display: block;
font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #4D4D4D;
}

/* hostvans */

.hostvan{
font-size: 25px;
font-weight: 700;
color: #161616;
}
.hostvandiv{
  margin-left: 20px;
}

/* host vans detail */
.currentVan{
  display: flex;
  padding-block: 20px;
 gap:20px;
 align-items: center;
}
.currentVan>img{
  width: 160.15px;
  border-radius: 5px;
}
.currentVan>div>p{
  font-weight: 700;
  font-size: 20px;
}
.currentVan>div>p>span{
  font-weight: normal;
  font-size: 16px;
}
.hostVanDetail{
  padding-block: 20px;
 
}
.hostVanDetail>nav{
  display: flex;
  gap: 40px;
}
.hostVanDetail>nav>a{
  font-size: 16.15px;
  color: #4D4D4D;
}
.hostVanInfo>h4{
  font-weight: 700;
 
  line-height: 21px;
  color: #161616;
}
.hostVanInfo>h4>span{
  font-weight: 500;
  font-size: 16px;
}

.hostVanPhoto{
  width: 103px;
border-radius: 5px;
}
.hostVanPrice>span{
  font-size: 16px;
  color: #4D4D4D;
}